
input {
	border-radius: 5px;
	padding: 5px;
	margin: 5px 0px;
}

div.button {
	text-align: right;
	cursor: pointer;
}


form { 
	width: 480px; 
	margin: auto;
	padding: 5px; 
	/* border: solid black 1px; */
	box-shadow: 0px 2px 15px black;	
	border-radius: 5px;  
	padding: 20px;
	margin-top: 50vh;
	transform: translateY(-50%);
}
